* text=auto
*.dart text
*.md text
*.yaml text
*.yml text
*.json text
*.plist text
*.pbxproj text
*.py text
*.mjs text
*.html text
*.xml text
*.xcconfig text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.m4a binary
